.home-design-form {
    display: flex;
    background-color: #fafafa;
    height: 100%;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

.form-builder-section {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .add-page-wrapper {
        min-width: 30rem;
        max-width: 60rem;
        display: flex;
        .page-number {
            margin-left: 1rem;
            justify-self: flex-end;
        }
    }
    .add-page {
        flex: 1 1 0%;

        p {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid lightgray;
            line-height: 0.1em;
            margin: 10px 0 20px;
        }
        p span {
            background: #fff;
            padding: 0 10px;
            cursor: pointer;
            font-size: 12px;
            font-weight: 500;
            color: #313e4f;
        }
    }
    .page-section {
        padding: 0.5rem;
        background-color: white;
        min-width: 30rem;
        max-width: 60rem;

        .page-form-drag-section {
            background-color: white;
            border: 1px dashed #cecece;
            padding: 1rem;
            min-height: 5rem;
            gap: 2.5rem;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        .action-section {
            margin-top: 0.3rem;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 0.3rem;
        }
    }
}

.draggable-field-single-item {
    height: 4rem;
}
